name: Analyze
on:
  workflow_dispatch:
    inputs:
      refresh_cache:
        description: Refresh OpenSkiMap download
        type: boolean
        required: true
        default: false
      solar_segment_count:
        description: Number of uncached run segments to compute solar irradiation for
        type: number
        required: false
        default: 5000
  schedule:
    - cron: "0 10 * * SAT"  # https://crontab.guru/#0_10_*_*_SAT
jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      # actions write permission to attempt to workaround
      # Unable to reserve cache... another job may be creating this cache
      # https://github.com/actions/stale/issues/1090
      actions: write
    # default timeout of 360 minutes is the max supported by GitHub-hosted runners,
    # which is too short to compute all solar irradiation values
    timeout-minutes: 360
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Pixi
      uses: prefix-dev/setup-pixi@v0.9.4
      with:
        activate-environment: true
    - name: Install fonts
      run: sudo apt-get install --yes --quiet fonts-dejavu-core fonts-noto-cjk
    - name: Install quarto extensions
      working-directory: ./website/story/
      run: quarto add --no-prompt https://github.com/qmd-lab/closeread/archive/e3645070dd668004056ae508d2d25d05baca5ad1.zip
    - name: Process inputs
      id: inputs
      run: |
        echo "refresh_cache=${{ github.event_name == 'schedule' || fromJSON(inputs.refresh_cache) }}" >> "$GITHUB_OUTPUT"
        echo "solar_segment_count=${{ inputs.solar_segment_count || 200000 }}" >> "$GITHUB_OUTPUT"
    # GitHub will remove any cache entries that have not been accessed in over 7 days
    - name: Restore OpenSkiMap Cache
      id: restore-openskimap
      if: ${{ steps.inputs.outputs.refresh_cache != 'true' }}
      uses: actions/cache/restore@v5
      with:
        path: data/openskimap
        key: openskimap
        restore-keys: openskimap-
    - name: Download OpenSkiMap
      id: download-openskimap
      # confusing behavior where inputs.refresh_cache acts like a string not a boolean
      # https://stackoverflow.com/questions/76292948/github-action-boolean-input-with-default-value
      # https://github.com/actions/runner/issues/1483
      # the step if condition stopped working around 2025-01-03, so use bash condition to skip the download if files exist
      # NOTE: Do not rely on steps.restore-openskimap.outputs.cache-hit because
      # "For a partial key match via restore-keys or a cache miss, it will be set to false" as per
      # https://github.com/actions/cache/blob/36f1e144e1c8edb0a652766b484448563d8baf46/restore/README.md#L22
      if: steps.inputs.outputs.refresh_cache == 'true' || steps.restore-openskimap.outputs.cache-hit != 'true'
      run: |
        if [ ! -f "data/openskimap/runs.geojson.xz" ]; then
          openskistats download
          echo "downloaded=true" >> "$GITHUB_OUTPUT"
        fi
      shell: bash
    - name: Save OpenSkiMap Cache
      if: steps.download-openskimap.outputs.downloaded == 'true'
      uses: actions/cache/save@v5
      with:
        path: data/openskimap
        # overwriting the cache key is not permitted, hence append the run_id on save
        # https://github.com/actions/cache/issues/342#issuecomment-673371329
        key: openskimap-${{ github.run_id }}
    - name: Python Analysis
      env:
        OPENSKISTATS_SOLAR_SEGMENT_COUNT: ${{ steps.inputs.outputs.solar_segment_count }}
      run: |
        openskistats analyze
        openskistats validate
        openskistats visualize
    - name: Make story plots
      working-directory: r/
      run: |
        Rscript 01.data.R
        Rscript 02.plot.R
    - name: Quarto Render
      run: quarto render website
    - name: Publish data
      uses: peaceiris/actions-gh-pages@v4
      if: github.ref == 'refs/heads/main'
      with:
        publish_branch: data
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./data
        # exclude_assets patterns are relative to publish_dir and use @actions/glob
        # https://github.com/peaceiris/actions-gh-pages/blob/ababa3d330af34b07419f6bc9f4a6b817ed7930b/src/git-utils.ts#L21-L39
        exclude_assets: "openskimap,openskistats,website"
        force_orphan: true
        # remove the unnecessary .nojekyll file
        enable_jekyll: true
    - name: Deploy website
      uses: peaceiris/actions-gh-pages@v4
      if: github.ref == 'refs/heads/main'
      with:
        publish_branch: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./data/webapp
        exclude_assets: "**.xz,**.parquet"
        force_orphan: true
        cname: openskistats.org
