name: Tests
on:
- push
- pull_request
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: prefix-dev/setup-pixi@v0.9.3
      with:
        activate-environment: true
    - uses: pre-commit/action@v3.0.1
    - name: Python tests
      run: pytest --color=yes
    - name: R tests
      run: Rscript -e "packageVersion('arrow')"
      working-directory: r/
