name: Tests
on:
- push
- pull_request
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        activate-environment: true
    - name: Cache pre-commit
      uses: actions/cache@v5
      with:
        path: ~/.cache/pre-commit
        key: pre-commit-${{ runner.os }}-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Run pre-commit
      run: pre-commit run --all-files --show-diff-on-failure --color=always
    - name: Python tests
      run: pytest --color=yes
    - name: R tests
      run: Rscript -e "packageVersion('arrow')"
      working-directory: r/
